.horizontal-menu {
    margin: 0 auto;
}
.horizontal-menu nav {
    text-align: center;
}

.horizontal-menu nav ul ul {
    display: none;
    z-index:1;
}

.horizontal-menu nav ul li:hover > ul {
    display: block;
}

.horizontal-menu nav ul {
    background: #4b545f; 
    padding:  0px;
    margin: 0 auto;
    border-radius: 5px;  
    list-style: none;
    position: relative;
    display: block;
    width: auto;
}
.horizontal-menu nav ul:after {
    content: ""; 
    clear: both; 
    display: block;
}

.horizontal-menu nav ul li {
    float: left;
    min-width: 128px;
}
.horizontal-menu nav ul li:hover {
    background: #4b545f;
    border: 1px solid #6e6e6e;
    border-radius: 3px;
}
.horizontal-menu nav ul li:hover a {
    color: #fff;
}
        
.horizontal-menu nav ul li a {
    display: block; 
    padding: 0px 20px;
    color: #ABB6BE; 
    text-decoration: none;
}
            
        
.horizontal-menu nav ul ul {
    background: #5f6975; 
    /* border-radius: 1px; */
    padding: 0px;
    position: absolute; 
    top: 100%;
    width: 192px;
}
.horizontal-menu nav ul ul li {
    float: none; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a; 
    position: relative;
    width: 192px;
}
.horizontal-menu nav ul ul li a {
    padding: 15px 40px;
}
.horizontal-menu nav ul ul li a:hover {
    background: #4b545f;
}
.horizontal-menu nav ul ul ul {
    position: absolute; left: 100%; top:0;
}

.site-link { 
	font-size: 1.5em; 
	line-height: 48x; 
	letter-spacing: -1px; 
	margin-bottom: 0; 
	float: left; 
}

/*
 * Sidebar
 */
.sidebar-nav {
  float: right;
  line-height: 48px;
  padding-top: 56px; }
  .sidebar-nav .menu-icon {
    display: none;
    float: right; }
  .sidebar-nav .page-link {
    color: #111;
    line-height: 1.5;
    text-decoration: none;
    float: left; }
  .sidebar-nav .trigger {
    position: fixed;
    right: 0px;
    width: 196px;
    height: 100%;
    background: #ffffff;
    padding-top: 0px; }
  @media screen and (max-width: 1920px) {
    .sidebar-nav {
      position: absolute;
      top: 9px;
      right: 30px;
      padding: 0 0;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      -webkit-transition: -webkit-transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out; }
      .sidebar-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .sidebar-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .sidebar-nav .menu-icon > svg path {
            fill: #424242; }
      .sidebar-nav .page-link {
        display: block;
        padding: 5px 10px; }
      .sidebar-nav .trigger {
        clear: both;
        display: none;
        min-width: 256px;
        max-width: 384px; }
      .sidebar-nav:hover .trigger {
        display: block;
        height: auto;
        padding-bottom: 5px;
        right: 30px;
        background-color: #fdfdfd;
        border: 1px solid #e8e8e8;
        border-radius: 5px; } }

.sidebar-nav div.toggle-wrapper {
  margin: 0;
  padding: 0;
  display: block;
  width: 196px;
  background: #ffffff;
  padding: 10px 10px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.sidebar-nav div.toggle-wrapper a {
  margin: 0;
  padding-top: 10px;
  padding-left: 15px;
  display: block;
  font-size: 0.9em; }

.sidebar-nav div.toggle-wrapper a.toggle-trigger {
  font-weight: 600; }

.sidebar-nav div.toggle-wrapper a.toggle-trigger:hover {
  color: #05bed5; }

.sidebar-nav div.toggle-wrapper div.toggle {
  margin: 0;
  margin-left: 10px;
  width: 196px;
  overflow-x: hidden; }

.sidebar-nav div.toggle-wrapper div.toggle a {
  display: block;
  padding-left: 10px;
  width: 196px;
  color: #111;
  font-size: 0.9em; }

.sidebar-nav div.toggle-wrapper div.toggle a:hover {
  color: #05bed5; }

.sidebar-title {
  margin: 0;
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.35rem;
  text-transform: uppercase; }

.sidebar-title code {
  margin-left: 5px;
  font-size: 9px;
  color: #ccd1d9;
  vertical-align: baseline;
  text-transform: none;
  letter-spacing: 0; 
}

/*
 *  Transitions
 */
.height-transition {
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  overflow-y: hidden; }

.height-transition-hidden {
  max-height: 0; 
}
