{% extends 'web/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Merge Subject' %}{% endblock %}
{% block extrascript %}{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}web/css/reports.css">
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% if data %}
<div class="content-list">
<form id="id_merge_form" name="merge_form">
    <div class="full-width merge-from">
        <h3>{% trans 'Merge patient' %}</h3>
        <p>{{ data.merge_from }}</p>
        <input type="hidden" id="merge_from" value="{{ merge_from.uuid }}"/>
    </div>
    <div class="merge-to">
        <h3>{% trans 'With' %}:</h3>
        <ul>
            {% for object in data.merge_to %}
            <li class="{% cycle 'even-row' 'odd-row' %}"><input type="checkbox" value="{{ object.uuid }}" name="meerge_to" id="id_{{ object.uuid }}"/>{{ object }}</li>
            {% endfor %}
        </ul>
    </div>
    <script>
        $(':checkbox').on('click',function(){
            var id = $(this).attr('id');
            var checked = $(this).prop('checked');
            if(checked){
                $(':checkbox').filter(function(index){
                    var otherId = $(this).attr('id');
                    return id != otherId;
                }).each(function(){
                    $(this).prop('checked', false);
                });
            }
        });
    </script>
    <div class="full-width text-centered">
        <p class="content-submit"><input type="submit" value="{% trans 'Submit' %}"/></p>
    </div>
</form>
</div>
{% endif %}
{% endblock content %}
