{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Unconfirmed Patients' %}{% endblock %}
{% block extrascript %}
{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}web/css/reports.css">
{% endblock %}
{% block header %}{% trans 'Unconfirmed Patients' %}{% endblock %}
{% block content %}
<div class="content-list">
<form method="post"  enctype="multipart/form-data">
<ul>
{% for object in data %}
    <li class="{% cycle 'even-row' 'odd-row' %}">
        <ul>
        <li>
        <label><input type="checkbox" name="mark_confirmed" value="{{ object.uuid }}"/> {{ object }}</label>
        </li>
        <li class="text-right">
        <div>
        <a href="{% url 'web:form-subject-merge' uuid=object.uuid %}" class="action-link">{% trans 'Merge' %}</a>
        <a href="{% url 'web:subject-edit' pk=object.id %}" class="action-link">{% trans 'Edit' %}</a>
        </div>
        </li>
        </ul>
    </li>
{% endfor %}
</ul>
<div >
    <p class="content-submit"><input type="submit" id="id_submit" value="{% trans 'Mark Confirmed' %}"/></p>
</div>
<script>
$('#id_submit').on('click', function(){
    var values = $(':input:checkbox:checked').map(function(){ return this.value; }).get();
});
</script>
</form>
</div>
{% endblock content %}
