''' Web views.

:Authors: Sana Development Team
:Version: 2.0
'''
import cjson
from django.http import HttpResponse
from django.shortcuts import render_to_response
from django.template import RequestContext 

from sana.api import version

def home(request,*args,**kwargs):
    """ Simple example of rendering a template to a view. """
    app = ''
    webtmpl = '{0}/index.html'.format(app)
    data = {'version': version }
    return render_to_response(webtmpl, RequestContext(request,data))
       