"""Sana mDS Django admin interface

:Authors: Sana dev team
:Version: 2.0
"""

from django.contrib import admin
from .models import * 

admin.site.register(Concept)
admin.site.register(Relationship)
admin.site.register(RelationshipCategory)
admin.site.register(Device)
admin.site.register(Encounter)
admin.site.register(Notification)
admin.site.register(Observation)
admin.site.register(Observer)
admin.site.register(Procedure)
admin.site.register(Subject)
admin.site.register(Event)

