'''

@author: Sana Dev Team
'''
from django.db import models

from sana.core.models.concept import Concept as BaseConcept
from sana.core.models.concept import Relationship as BaseRelationship
from sana.core.models.concept import Relationship as BaseRelationshipCategory
from sana.core.models.device import Device as BaseDevice
from sana.core.models.encounter import Encounter  as BaseEncounter
from sana.core.models.notification import Notification as BaseNotification
from sana.core.models.observation import Observation  as BaseObservation
from sana.core.models.observer import Observer as BaseObserver
from sana.core.models.procedure import Procedure as BaseProcedure
from sana.core.models.events import Event as BaseEvent
from sana.core.models.subject import Subject as BaseSubject
from sana.api.utils import related_namegen

__all__ = ['Concept', 'Relationship','RelationshipCategory',
           'Device', 
           'Encounter', 
           'Event',
           'Notification',
           'Observation', 
           'Observer',
           'Procedure',
           'Subject',]

__app = '<app>'

class Concept(BaseConcept):
    parent_ptr = models.OneToOneField(BaseConcept, parent_link=True,
                             related_name=related_namegen(__app,'Concept'))

class Relationship(BaseRelationship):
    parent_ptr = models.OneToOneField(BaseRelationship, parent_link=True,
                             related_name=related_namegen(__app,'Relationship'))

class RelationshipCategory(BaseRelationshipCategory):
    parent_ptr = models.OneToOneField(BaseRelationshipCategory, parent_link=True,
                             related_name=related_namegen(__app,'RelationshipCategory'))

class Device(BaseDevice):
    parent_ptr = models.OneToOneField(BaseDevice, parent_link=True,
                             related_name=related_namegen(__app,'Device'))

class Encounter(BaseEncounter):
    parent_ptr = models.OneToOneField(BaseEncounter, parent_link=True,
                             related_name=related_namegen(__app,'Encounter'))

class Event(BaseEvent):
    parent_ptr = models.OneToOneField(BaseEvent, parent_link=True,
                             related_name=related_namegen(__app,'Event'))

class Notification(BaseNotification):
    parent_ptr = models.OneToOneField(BaseNotification, parent_link=True,
                             related_name=related_namegen(__app,'Notification'))

class Observation(BaseObservation):
    parent_ptr = models.OneToOneField(BaseObservation, parent_link=True,
                             related_name=related_namegen(__app,'Observation'))

class Observer(BaseObserver):
    parent_ptr = models.OneToOneField(BaseObserver, parent_link=True,
                             related_name=related_namegen(__app,'Observer'))

class Procedure(BaseProcedure):
    parent_ptr = models.OneToOneField(BaseProcedure, parent_link=True,
                             related_name=related_namegen(__app,'Procedure'))

class Subject(BaseSubject):
    parent_ptr = models.OneToOneField(BaseSubject, parent_link=True,
                             related_name=related_namegen(__app,'Subject'))
