"""The Django url to handler mappings.


:Authors: Sana dev team
:Version: 2.0
"""
from django.conf.urls.defaults import patterns, url
from piston.resource import Resource

from .handlers import *

# Replace '<app>' below with the new app name
<app>session_handler = Resource(SessionHandler)
<app>concept_handler = Resource(ConceptHandler)
<app>relationship_handler = Resource(RelationshipHandler)
<app>relationshipcategory_handler = Resource(RelationshipCategoryHandler)
<app>device_handler = Resource(DeviceHandler)
<app>encounter_handler = Resource(EncounterHandler)
<app>event_handler = Resource(EventHandler)
<app>notification_handler = Resource(NotificationHandler)
<app>observation_handler = Resource(ObservationHandler)
<app>observer_handler = Resource(ObserverHandler)
<app>procedure_handler = Resource(ProcedureHandler)
<app>subject_handler = Resource(SubjectHandler)

urlpatterns = patterns(
    '',
    # session auth
    url(r'^session/$', session_handler, name='<app>-session-list'),
    
    # concepts
    url(r'^concept/$', concept_handler, name='<app>-concept-list'),
    url(r'^concept/(?P<uuid>[^/]+)/$', concept_handler, name='<app>-concept'),
    url(r'^concept/(?P<uuid>[^/]+)/relationship/$', concept_handler, name='<app>-concept-relationships', kwargs={'related':'relationship'}),
    url(r'^concept/(?P<uuid>[^/]+)/procedure/$', concept_handler, name='<app>-concept-procedures', kwargs={'related':'procedure'}),
    
    # concept relationships
    url(r'^relationship/$', relationship_handler,name='<app>-relationship-list'),
    url(r'^relationship/(?P<uuid>[^/]+)/$', relationship_handler,name='<app>-relationship'),
    
    # concept relationship categories
    url(r'^relationshipcategory/$', relationshipcategory_handler,
        name='<app>-relationshipcategory-list'),
    url(r'^relationshipcategory/(?P<uuid>[^/]+)/$', relationshipcategory_handler,
        name='<app>-relationshipcategory'),
    
    # devices
    url(r'^device/$', device_handler, name='<app>-device-list'),
    url(r'^device/(?P<uuid>[^/]+)/$', device_handler, name='<app>-device'),
    
    # encounters
    url(r'^encounter/$', encounter_handler, name='<app>-encounter-list'),
    url(r'^encounter/(?P<uuid>[^/]+)/$', encounter_handler, name='<app>-encounter'),
    url(r'^encounter/(?P<uuid>[^/]+)/observation/$', encounter_handler, name='<app>-encounter-observations', kwargs={'related':'observation'}),
    
    # events   
    url(r'^event/$', event_handler, name='<app>-event-list'),
    url(r'^event/(?P<uuid>[^/]+)/$', event_handler, name='<app>-event'),
    
    # notification
    url(r'^notification/$', notification_handler, name='<app>-notification-list'),
    url(r'^notification/(?P<uuid>[^/]+)/$', notification_handler, name='<app>-notification'),
    
    # observations
    url(r'^observation/$', observation_handler, name='<app>-observation-list'),
    url(r'^observation/(?P<uuid>[^/]+)/$', observation_handler, name='<app>-observation'),
    
    # observers
    url(r'^observer/$', observation_handler, name='<app>-observer-list'),
    url(r'^observer/(?P<uuid>[^/]+)/$', observer_handler, name='<app>-observer'),
    
    # procedures
    url(r'^procedure/$', procedure_handler, name='<app>-procedure-list'),
    url(r'^procedure/(?P<uuid>[^/]+)/$', procedure_handler, name='<app>-procedure'),
    
    # subjects
    url(r'^subject/$', subject_handler, name='<app>-subject-list'),
    url(r'^subject/(?P<uuid>[^/]+)/$', subject_handler, name='<app>-subject'),
    
)

# Web views
extra_patterns = patterns(    
    '',
    url(r'^$',
        'sana.<app>.views.home',
        name="<app>-home"),          
)  

# add any Web views in the extra_patterns
urlpatterns += extra_patterns