{% load i18n %}
<ul>
    <li>
        <div>
            <label for='id_language'>{% trans 'Language' %}</label>
            <select id="id_language" name="language">
            {% for language in available_languages %}
                <option value="{{ language.code }}"{% ifequal lang language.code %}selected="selected"{% endifequal%}>
                    <img src="{{ STATIC_PREFIX }}web/img/i18n/{{ language.code }}.png">{{ language.name }}</img>
                </option>
            {% endfor %}
            </select>
            
            <script>
                var language = $.cookie('language');
                // Set the active language selected
                $('#id_language').removeAttr('selected')
                    .filter('[value="' + $.cookie('language') +'"]')
                    .attr('selected', true);
                // Set change listener to reload the page
                $('#id_language').change(function() {
                    var lang = $(this).val();
                    $.cookie('language', lang);
                    location.reload();
                });
            </script>
        </div>
    </li>
    <li><img src="{{ STATIC_PREFIX }}web/img/sana_small.png"/>{% trans 'Copyright 2015 Sana Mobile' %}</li>
</ul>
