{% load i18n %}
{% load static %}
<div class="horizontal-menu">
  <nav>
	{% with roles=request.user.groups.all %}
    <ul>
    {% for site in menu.sites %}
      <li>
        <a href="#"><h4>{% trans site.label|title %}</h4></a>
        {% if site.views %}
            <ul>
                {% for view in site.views %}
                    {% with label=view.label %}
                    <li>
                        <a href="{% url view.context_name %}">{% trans label|title %}</a>
                    </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
    {% if 'admin' in roles %}
        <li>
            <a href="/mds/admin/"><h4>Django</h4></a>
        </li>
    {% endif %}
    </ul>
	{% endwith %}
</nav>
</div>

<script>
$(document).ready(
  /* This is the function that will get executed after the DOM is fully loaded */
  function () {
    /* Next part of code handles hovering effect and submenu appearing */
    $('.nav li').hover(
      function () { //appearing on hover
        $('ul', this).fadeIn();
      },
      function () { //disappearing on hover
        $('ul', this).fadeOut();
      }
    );
  }
);
</script>

