{% load i18n %}
{% load static %}
{% if menu %}
<div class="horizontal-menu">
    <nav>
    <ul>
    {% with roles=request.user.groups.all %}
    {% for site in menu.sites %}
        <li>
        <a href="#"><h4>{% trans site.label|title %}</h4></a>
        {% if site.views %}
            <ul>
                {% for portal_view in site.views %}
                    {% with label=portal_view.label %}
                    <li>
                        {% if portal_view.context_name %}
                            <a href="{% url portal.app|add:':'|add:portal_view.context_name %}">{% trans label|title %}</a>
                        {% else %}
                            <a href="{{ portal_view.url }}">{% trans label|title %}</a>
                        {% endif %}
                    </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
    {% endwith %}
    </ul>
</nav>
</div>
<script>
$(document).ready(
  /* This is the function that will get executed after the DOM is fully loaded */
  function () {
    /* Next part of code handles hovering effect and submenu appearing */
    $('.nav li').hover(
      function () { //appearing on hover
        $('ul', this).fadeIn();
      },
      function () { //disappearing on hover
        $('ul', this).fadeOut();
      }
    );
  }
);
</script>
{% endif %}

