{% extends "web/base.html" %}
{% load i18n %}
{% comment %}{% endcomment %}
{% block title %}{{ model|title|add:' Detail' }}{% endblock %}
{% block content %}
{% for object in objects %}
<h2>{{ object.repr }} </h2>
<table class="content-list" >
    <tbody>
    {% for label,field in object.fields.items %}
        {% if label != 'id' %}
        <tr class="{% cycle 'evenrow' 'oddrow' %}">
            <td class="text-left"><strong>{{ field.label_tag }}</strong></td>
            <td class="text-right">
                {% if field.type == "date" %}
                    {{ field.value|date:"d-F-Y" }}
                {% elif field.type == "file" %}
                        <a href="{{ field.url }}">{{ field.value }}</a>
                {% elif field.type == "object" %}
                        <a href="{{ field.url }}">{{ field.value }}</a>
                {% else %}
                        {{ field.value }}
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table> 
{% endfor %}
<hr>
<a href="{% url 'web:'|add:model|add:'-edit'  pk=object.id%}">Edit</a>
{% endblock content %}
{% block footer %}
{{ super }}
<a href="{% url 'web:'|add:model|add:'-list' %}">Back</a>
{% endblock %}