{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}web/css/liststyle.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}web/css/formstyle.css">
{% endblock extrastyle %}
{% block title %}{{ model|title|add:' Detail' }}{% endblock %}
{% block content %}
<div>
<table class="content-form" >
    <thead>
        <tr class="headerrow">
            <td colspan="2"><h2>{{ object }}</h2></td>
        </tr>
    </thead>
    <tfoot>
        <tr class="footerrow">
            <td class="alignleft"><a href="{% url 'web:'|add:model|add:'-list' %}">{% trans 'Back' %}</a></td>
            <td class="alignright"><a href="{% url 'web:'|add:model|add:'-edit'  pk=object.id%}">{% trans 'Edit' %}</a>
        </tr>
    </tfoot>

    <tbody>
    <tr class="evenrow">
        <td class="text-left"><strong>UUID</strong></td>
        <td class="text-right">{{ object.uuid }}</td>
    </tr>
    <tr class="oddrow">
        <td class="text-left"><strong>Subject</strong></td>
        <td class="text-right">{{ object.subject }}</td>
    </tr>
    <tr class="evenrow">
        <td class="text-left"><strong>Procedure</strong></td>
        <td class="text-right">{{ object.procedure }}</td>
    </tr>
    <tr class="oddrow">
        <td class="text-left"><strong>Date</strong></td>
        <td class="text-right">{{ object.modified }}</td>
    </tr>
    </tbody>
</table> 
</div>
<hr>
{% with observations=object.observations.all %}
<div>
    <table class="content-form" >
    <thead>
        <tr class="headerrow">
            <th colspan="2"><h2>{% trans 'Observations' %}</h2></th>
        </tr>
    </thead>
    <tbody>
    {% for observation in observations %}
    {% with obsurl='web:observation-detail' %}
    <tr class="{% cycle 'evenrow' 'oddrow'  %}"
        onclick="document.location='{% url 'web:observation-detail' pk=observation.id %}'">
        <td class="text-left"><strong>{{ observation.concept.description|title }}</strong></td>
        <td class="text-right">
            {% if observation.is_complex %}
                <a href="{{ MEDIA_PREFIX }}{{ object.value_complex }}">
                    <img src="{{ STATIC_PREFIX }}web/img/binary.png"/>
                </a>
            {% else %}
                {{ observation.value }}
            {% endif %}
        </td>
    </tr>
    {% endwith %}
    {% endfor %}
    </tbody>
</table> 
</div>
{% endwith %}
{% endblock content %}