{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}web/css/liststyle.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}web/css/formstyle.css">
{% endblock %}

{% block extrascript %}
    var pending = 0;
    function postSuccess(data){
        if(data){
            var msg = data['message'];
            var encounter = msg['uuid'];
            stdout("postSuccess()","SUCCESS creating encounter" + msg['uuid']); 
            
            alert("Success Entering Initial Encounter Data:\n " + msg['uuid']);
            $('#id_encounter').val(msg['uuid']);
            setPending(5);
            postObservationsWeb(encounter);
        } else {
            stdout("postSuccess()","No data");
        }
    }

    function setPending(value){
        pending = 5;
    }
    
    function decrementPending(){
        pending = pending -1;
    }

    function incrementPending(){
        pending = pending +1;
    }

    function postSuccessObs(data){
        decrementPending();
        if(pending == 0){
            if($('#id_new_tasks').is(":checked")){
                var subject = $('#id_subject').val();
                $.cookie("subject",subject,{'path':'/'});
                $.cookie("new_patient",true,{'path':'/'});
                window.location = $('#id_task_nav').attr('href');
                //$('#id_task_nav').click();
            }
        }
    }

    function postFail(errors){
       alert("Failure creating encounter.");
    }

    // Pulls the values from the form and makes the post call
    function submitEncounterWeb(){
        
        var url = '/mds/core/encounter/';
        var form = $('#id_form');

        var subject = $('#id_subject').val();
        var observer = $('#id_observer').val();
        var concept = $('#id_concept').val();
        var procedure = $('#id_procedure').val();
        var device = $('#id_device').val();

        if(window.console){ console.log("posting: ( " + subject+", "
                + observer+", "+procedure+", "+concept+", "+ device +" )"); }

        var encounterCreated = false;
        
        var data = {
                    subject: subject,
                    procedure: procedure,
                    observer: observer,
                    device: device,
                    concept: concept
                };
        var headers = {
            "sessionid":$.cookie("sessionid"),
            'csrftoken':$.cookie("csrftoken")
        };
        postAjaxWithHeaders(url,data,headers,postSuccess, postFail);
    }
       
    function postObservationsWeb(encounter){   
        // Initial diagnosis
        var value = $('#id_diagnosis').val();
        if (value == "Other"){    
            value = $('#id_diagnosis_other').val();
        }
        postObs(encounter, '1', '104889a3-b6fa-4cdc-b232-d3b73e924cd1', value, postSuccessObs);
        // Operation(s)
        var value = $('#id_operation').val();
        var operations_other = $('#id_operations_other').val() || [];
        if(operations_other != null){
             value.push(operations_other);
        }
        postObs(encounter, '2', '9b01ef00-9fac-4f3c-87e5-66b152a3159b', value.join(","), postSuccessObs);
        // Operation date
        value= $('#id_date_of_operation').val();
        postObs(encounter, '3', '9082b5f8-74c6-4f54-a92b-04fa98e780d6', value, postSuccessObs);
        
        // Dicharge date
        value = $('#id_date_of_discharge').val();
        postObs(encounter, '4', '069ba5bb-a183-4d14-b485-9f93bca812c3', value, postSuccessObs);
        
        // Follow up date
        value = $('#id_date_of_regular_follow_up').val();
        $.cookie("regular_follow_up",value,{'path':'/'});
        postObs(encounter, '5', 'd24cf683-4b51-46d8-a4c4-154c38e1dd38', value, postSuccessObs);
    }
    
    // Workaround for safari issues
    $(function() {
      $( "select[multiple='multiple']").selectable();
      $( "select[multiple='multiple']").on("selectablestart", function (event, ui) {
        event.originalEvent.ctrlKey = true;
      });
    });

{% endblock extrascript %}

{% block content %}
<form name="intake" id="id_form" action="javascript:submitEncounterWeb()" method="post">
<div class="form">
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
{# Include the visible fields #}
    {% for field in form.visible_fields %}
    <div class="formrow {% cycle 'evenrow' 'oddrow' %}">
        <div class="fieldWrapper">
            {{ field.errors }}
            {% with field.label_tag|title as label %}
                {% trans label %}
            {% endwith %}
            {{ field }}
        </div>
    </div>
    {% endfor %}
    <script>
        $(".other-exclusive").parent().hide();
        $(".other-multiple").parent().hide();
        $(".select-exclusive").change(function(i){
            var length = $(this).children().length;
            var selectedIndex = $(".select-exclusive option:selected").index();
            if (selectedIndex == length - 1){
                $(".other-exclusive").parent().show();
            } else {
                $(".other-exclusive").parent().hide();
            }
        });
        $(".select-multiple").change(function(){
            var length = $(this).children().length;
            var selectedIndex = $(".select-multiple option:selected").index();
            var doShow = $(this).children().eq(length-1).prop('selected');
            if( doShow){
                $(".other-multiple").parent().show();
            } else {
                $(".other-multiple").parent().hide();
            }
        
        });
    </script>
    <hr/>
    {% for exform in extra_forms %}
    {% for hidden in exform.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in exform.visible_fields %}
    <div class="formrow {% cycle 'evenrow' 'oddrow' %}">
        <div class="fieldWrapper">
            {{ field.errors }}{% trans field.label_tag|title %}
            {{ field }}
        </div>
    </div>
    {% endfor %}
{% endfor %}
    <div class="actionbar">
        <p align="center" style="font-size:larger">
            <input type="button" id="id_submit" class="show-page-loading-msg" value="Submit" onClick="submitEncounterWeb()">
        </p>
    </div>
</div>
 
<script>
    // Input handlers
    $(function(){
      //$( "input[type='date']" ).datepicker({ dateFormat: 'mm/dd/yy', changeYear: true });
      //$('input[type="date"]').datepicker({ dateFormat: 'yy-mm-dd', changeYear: true , yearRange : "c-100:c+05"}).prop('type','text');
      //$( "input[type='date']" ).datepicker({ dateFormat: 'mm/dd/yy', changeYear: true });
        $('input[type="date"]').prop('type','text');
    });
    // Displays DateTime picker pop up
    $(function(){
        $('input[type="datetime"]').datetimepicker({ 
            //dateFormat: 'yy-mm-dd', 
            changeYear: true , 
            yearRange : "c-100:c+05",
            timeformat: "HH:mm",
            }).prop('type','text');
        $('input[type="datetime"]').prop('type','text');
     });

    // Workaround for safari issues
    $(function() {
      $( "select[multiple='multiple']").selectable();
      $( "select[multiple='multiple']").on("selectablestart", function (event, ui) {
        event.originalEvent.ctrlKey = true;
      });
    });
    // Sets the current subject uuid as a cookie
    var subject = null;
    $(function(){
        var subject = $.cookie("subject");
        if(subject){
            $('#id_subject').val(subject);
        }
        $('#id_new_tasks').bind('click',function() {
            if($(this).is(':checked')) {
                $('#id_messages').html($(this).val());
            }
        });
    });
</script>
{% endblock content %}
