{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% block header %}Update {{ model|title }}{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}web/css/formstyle.css">
{% endblock %}
{% block content %}
<!-- "{% url 'web:'|add:model|add:'-edit' pk=object.id %}" -->
<form 
    enctype="multipart/form-data" 
    action="."
    method="POST">
{{ csrftoken }}
<div>
{% include "web/form_snippet.html" %}
</div>
<script>
    // Displays Date picker pop up
    $(function(){
        $('input[type="date"]').datepicker({ 
            dateFormat: 'yy-mm-dd', 
            changeYear: true , 
            yearRange : "c-100:c+05"
            }).prop('type','text');
        $('input[type="date"]').prop('type','text');
     });
    // Displays DateTime picker pop up
    $(function(){
        $('input[type="datetime"]').datetimepicker({ 
            dateFormat: 'yy-mm-dd', 
            changeYear: true , 
            yearRange : "c-100:c+05",
            timeformat: "HH:mm",
            }).prop('type','text');
        $('input[type="datetime"]').prop('type','text');
     });
    // Workaround for safari issues
    $(function() {
      $( "select[multiple='multiple']").selectable();
      $( "select[multiple='multiple']").on("selectablestart", function (event, ui) {
        event.originalEvent.ctrlKey = true;
      });
    });
</script>
</form>
{%endblock content %}