{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'New' %} {% trans model|title %}{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}web/css/formstyle.css">
{% endblock %}
{% block extrascript %}
    /*
    $(document).ready(function(){
        $( document ).on( 'focus', ':input', function(){
            $( this ).attr( 'autocomplete', 'off' );
        });
    });
    */
{% endblock %}
{% block header %}{% trans 'New' %} {% trans model|title %}{% endblock %}
{% block content %}
<form enctype="multipart/form-data" action="{% url 'web:'|add:model|add:'-create' %}" method="post">
    {{ csrftoken }}
    {% include "web/includes/form_snippet.html" %}
    <div id="inlines">
    {% if inlines %}
        {% for inline in inlines %}
        <form name="{{ inline.model }}" id="{{ 'id_'|add:inline.model }}">
            {% include "web/form_snippet.html" with form=inline.form %}
        </form>
        {% endfor %}
    {% endif %}
    </div>
</form>
<script type="text/javascript">
    // Displays Date picker pop up
    $(function(){
        $('input[type="date"]').datepicker({ 
            dateFormat: 'yy-mm-dd', 
            changeYear: true , 
            yearRange : "c-100:c+05"
            }).prop('type','text');
        $('input[type="date"]').prop('type','text');
     });
    // Displays DateTime picker pop up
    $(function(){
        $('input[type="datetime"]').datetimepicker({ 
            dateFormat: 'yy-mm-dd', 
            changeYear: true , 
            yearRange : "c-100:c+05",
            timeformat: "HH:mm",
            }).prop('type','text');
        $('input[type="datetime"]').prop('type','text');
     });

    // Workaround for safari issues
    $(function() {
      $( "select[multiple='multiple']").selectable();
      $( "select[multiple='multiple']").on("selectablestart", function (event, ui) {
        event.originalEvent.ctrlKey = true;
      });
    });
</script>
{%endblock content %}