{% extends "web/base.html" %}
{% load i18n %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}web/css/liststyle.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}web/css/formstyle.css">
{% endblock %}
{% block extrascript %}
function logTokens(){
    var sessionid = readCookie("sessionid");
    var csrftoken = readCookie("csrftoken");
    if(window.console){
        console.log("sessionid : " + sessionid);
        console.log("csrftoken : " + csrftoken);
    }
}
function successCB(data){
    if(window.console) console.log("SUCCESS REPORTED POSTING SUBJECT");
    if(data){
        var msg = data['message'];
        alert("Success Creating Patient:\n " + msg['system_id']);
        var uuid = msg['uuid'];
        if(window.console) console.log("....object uuid: " + uuid);
        $("#id_subject").val(uuid);
        $.cookie("subject",uuid, { path: '/' });
    } else {
        if(window.console) console.log("....null data?");
    }
} 
function failCB(){
    alert("Failure creating patient! ");
    //setSubject(null);
} 

function submitSubjectWeb(){
    logTokens();
    var system_id = $('#id_system_id').val();
    var given_name = $('#id_given_name').val();
    var family_name = $('#id_family_name').val();
    var use_age  = $('#id_use_age').val();
    var age  = $('#id__age').val();
    var dobDate  = $('#id_dob').datepicker("getDate");
    var year = dobDate.getFullYear();
    var month = dobDate.getMonth() + 1;
    var day = dobDate.getDate();
    dob = ''+year+'-'+month+'-'+day; 
    var gender = $('#id_gender').val();
    var image = $('#id_image').val();
    var location = $('#id_location').val();
    {% url 'mds.core:surgical-subject-list' as posturl %}
    var posturl = '{{ posturl }}';
    posturl = '/mds/core/subject/';
    var url = '/mds/core/surgicalsubject/';
    url = '/mds/core/subject/';
    var data = {
        system_id: system_id,
        given_name: given_name,
        family_name: family_name,
        dob: dob,
        gender: gender,
        location: location,
        image: image
    }
    var headers = {
        "sessionid": $.cookie("sessionid"),
        "csrftoken": $.cookie("csrftoken")
    };
    postAjaxWithHeaders(url,data,headers,successCB,failCB);
    //submitSubjectSSI(system_id, given_name, family_name, dob, gender, location, image,successCB,failCB);
}
{% endblock %}
{% block title %}{% trans 'Patient Registration' %}{% endblock %}
{% block header %}{% trans 'Patient Registration' %}{% endblock %}
{% block content %}
<form>
<div class="form">
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
    <div class="formrow {% cycle 'evenrow' 'oddrow' %}">
        <div class="fieldWrapper">
            {{ field.errors }}{% trans field.label_tag|title %}
            {{ field }}
        </div>
    </div>
    {% endfor %}
    <div class="formrow">
        <p align="center" style="font-size:larger">
            <input type="button" id="id_submit_patient" class="show-page-loading-msg" value="{% trans 'Submit' %}" onClick="submitSubjectWeb()">
        </p>
    </div>
</div>
    </form>
<script>
    // Displays Date picker pop up
    $(function(){
        $('input[type="date"]').datepicker({ 
            //dateFormat: 'yy-mm-dd', 
            changeYear: true , 
            yearRange : "c-100:c+05"
            }).prop('type','text');
        $('input[type="date"]').prop('type','text');
        $('.hasDatepicker').attr('readonly','true');
     });
    // Displays DateTime picker pop up
    $(function(){
        $('input[type="datetime"]').datetimepicker({ 
            //dateFormat: 'yy-mm-dd', 
            changeYear: true , 
            yearRange : "c-100:c+05",
            timeformat: "HH:mm",
            }).prop('type','text');
        $('input[type="datetime"]').prop('type','text');
     });
</script>
{% endblock content %}