{% extends 'web/base.html' %}
{% load i18n %}
{%block title %}{% trans 'Language' %}{% endblock %}
{%block header %}{% trans 'Set Language' %}{% endblock %}
{% block content %}
<form enctype="multipart/form-data" action="." method="POST">
{% csrf_token %}
<input name="next" type="hidden" value="{{ next }}" />
<div class="fieldWrapper">
<label for="id_language">{% trans 'Language' %}</label>
<select id="id_language"name="language">
{% for language in available_languages %}
    <option value="{{ language.code }}"{% ifequal lang language.code %}selected="selected"{% endifequal%}>
        {{ language.name }}
    </option>
{% endfor %}
</select>
</div>
<div class="fieldWrapper">
<input type="submit" value="{% trans 'Submit' %}" />
</div>
</form>
{% endblock %}